:root {
  --main-color: #cdab8f;
}

html {
    overflow-y: scroll;
    height: 100%;
    font-family: "Hiragino Maru Gothic ProN W4", sans-serif;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 1.5em;
 }

@media (min-width: 768px) {
    html {
        font-size: 125%;
        max-width: 42em;
 } }

body {
  counter-reset: chapter;
}

h1, h2, h3, h4 {
    margin: 2.5rem 0 1.5rem 0;
    line-height: 1.25;
    color: #333;
 }

h1:not(.title) {
  border-bottom: 3px solid var(--main-color);
  counter-reset: sub-chapter;
}

h1:not(.title):before {
  counter-increment: chapter;
  content: "第" counter(chapter) "章";
  padding-right: 40px;
}

h2 {
  border-bottom: 2px dashed var(--main-color);
  counter-reset: section;
}

h2:before {
  counter-increment: sub-chapter;
  content: counter(chapter) "." counter(sub-chapter);
  padding-right: 30px;
}

h3:before {
  counter-increment: section;
  content: counter(chapter) "." counter(sub-chapter) "." counter(section);
  padding-right: 20px;
}

.title {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.title:before {
  width: 48px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -24px;
  background-color: var(--main-color);
}

.title:after {
  width: 200px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -100px;
  background-color: var(--main-color);
}

.author {
  text-align: center;
}

#TOC {
  background: #f6f6f6;
  clear: both;
  padding:30px;
  overflow: scroll;
}
#TOC ul {
  padding:0 20px;
  list-style-type: square;
}
#TOC a {
  color:#333 ;
}
#TOC a:hover {
  color: #757C84;
}

figure {
  text-align: center;
  position: relative;
  max-width: 400px;
  margin: 2.9em auto 0;
  padding: 1em 1.5em;
  border: 2px solid var(--main-color);
  border-radius: 3px;
}

figure figcaption {
  position: absolute;
  top: -1.9em;
  left: -2px;
  padding: .2em .8em;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-color);
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center p {
  width: 40%;
}

.epigraph{
    position:relative;
    border-left:3px solid var(--main-color);
    padding:5px;
    padding-left:10px;
    background-color: #f8f8f8;
}
.epigraph p{
    position:relative;
    padding-left:30px;
}

.definition,.theorem,.example,.proof {
  position: relative;
  margin: 30px;
  padding: 1em calc(1.5em + 9px);
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
:is(.definition,.theorem,.example,.proof)::before,
:is(.definition,.theorem,.example,.proof)::after {
  position: absolute;
  width: 1px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% + 20px);
  background-color: var(--main-color);
  content: '';
}
:is(.definition,.theorem,.example,.proof)::before {
  left: 9px;
}
:is(.definition,.theorem,.example,.proof)::after {
  right: 9px;
}
